html, body, div, header, nav, a, h1, h2,
ul, li, main, section, img, p, form, fieldset,
label, input, textarea, button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  background: #fff;
  color: #222;
}

ul {
  list-style: none;
}

input, textarea {
  padding: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 4px;
  cursor: pointer;
  background: #3d3c3a;
  color: #e0e0e0;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* Header */

.header {
  background: #83c441;
  height: 42px;
  line-height: 42px;
  z-index: 201;
  position: relative;
}

.header a {
  display: block;
}

.header-nav {
  margin: 0 auto;
  width: 1032px;
}

.header-logo {
  padding-right: 10px;
  float: left;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

.header-logo:hover {
  color: #fff;
}

.header-nav-list {
  float: left;
}

.header-nav-list > li {
  float: left;
  padding: 0 10px;
}

.header-nav-list > li:hover {
  background: #222;
  color: #e0e0e0;
}

/*/ Player /*/

.player-container {
  display: block;
  background: #222;
  color: #e0e0e0;
  height: 33px;
  width: 100%;
  line-height: 20px;
  position: absolute;
  left: 0;
  z-index: 200;
}

.player {
  position: relative;
  width: 1038px;
  margin: 0 auto;
}

.player-controls{
  float: left;
  width: 728px;
}

.side-menu {
  float: right;
}

.login-menu > li {
  float: left;
}

.profile-list {
  border: 1px solid #222;
}

.profile-list > a {
  display: block;
}

.profile-list > li {
  background: #3d3c3a;
  padding: 4px;
  border-bottom: 1px solid #222;
}

.login-button, .signup-button {
  font-size: 14px;
  margin-left: 5px;
}

/* Track Index */

.content {
  position: relative;
  margin: 0 auto;
  width: 1032px;
  text-align: left;
}

.playlist {
  width: 728px;
  min-height: 400px;
  margin-right: 10px;
  float: left;
}

.playlist-title {
  font-size: 29px;
  margin: 55px 0 25px;
  display: block;
}

.playlist-menu {
  border-bottom: 1px solid #999;
  line-height: 35px;
  height: 35px;
}

.playlist-menu a {
  display: block;
  padding: 0 10px;
}

.playlist-menu > li {
  float: left;
}

.playlist-menu > li:hover {
  text-decoration: underline;
}

.playlist-menu > li:first-child {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.track-list {
}

/* Track Index Item */

.track {
  display: block;
  padding: 22px 0 15px 0;
  border-bottom: 1px solid #999;
}

.track-detail-container {
  float: left;
  padding: 0 120px 0 93px;
}

.track-detail-container > div:hover {
  text-decoration: underline;
}

.track-artist, .track-name, .track-dash {
  font-size: 20px;
  float: left;
  display: block;
}

.track-name {
  color: #555555;
}

.track-dash {
  color: #ccc;
  padding: 0 5px;
}

.track-post {
  float: left;
  color: #0063dc;
  font-size: 13px;
}

.track-post > div:hover {
  text-decoration: underline;
}

.track-post-count {
  padding: 5px 0;
  margin: 5px 0;
}

.track-post-info {
  color: #000;
  word-wrap: break-word;
  margin: 0 0 10px 0;
  line-height: 18px;
}

.fav-div {
  font-size: 20px;
  color: #b3b3b3;
  float: right;
}

.fav-div > button {
  background: transparent;
}

.fav-div > button:hover {
  color: #0063dc;
}

.favorite {
  color: #b3b3b3;
}

.unfavorite {
  color: #ed2024;
}

/*/ Forms /*/

.login-form {
  height: 290px;
  width: 370px;
}

.sign-up-form {
  height: 540px;
  width: 340px;
}

.login-form > h1 {
  background: #83c441;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #4D8119;
  padding-left: 10px;
  line-height: 36px;
}

label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin: 3px 0;
}

.login-form > input {
  display: block;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
