html, body, div, header, nav, a, h1, h2,
ul, li, main, section, figure, img, p, form,
fieldset, label, input, textarea, button, i,
link, canvas {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent;
}

@viewport {
  width: device-width;
  zoom: 1;
}

$white: #fff;
$black: #000;
$primary-green: #83c441;
$primary-gray: #222;
$light-gray: #efefef;
$medium-gray: #ccc;
$button-gray: #3d3c3a;
$hover-blue: #0063dc;

body {
  font-family: sans-serif;
  font-size: 15px;
  background: $white;
  color: $primary-gray;
}

li {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* Header */

#header {
  background: $primary-green;
  height: 42px;
  line-height: 42px;
  // z-index: 200;
  // position: relative;
}

.header-nav {
  margin: 0 auto;
  width: 1032px;
  .header-logo {
    padding-right: 3px;
    float: left;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    img {
      max-height: 42px;
      max-width: 42px;
      float: right;
      margin: 0 3px;
    }
  }
  .header-logo:hover {
    color: $white
  }
  .header-nav-list {
    li {
      display: inline-block;
      padding: 0 10px;
    }
    li:hover {
      background: $primary-gray;
      color: $white;
    }
  }
}

/*/ Player /*/

#player-container {
  position: relative;
  display: block;
  background: $primary-gray;
  color: $white;
  height: 35px;
  width: 100%;
  line-height: 35px;
  vertical-align: middle;
}

#player-container.sticky {
  display: block;
  background: $primary-gray;
  color: $white;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.player {
  width: 1038px;
  height: 35px;
  margin: 0 auto;
  .player-controls{
    display: block;
    float: left;
    width: 728px;
    height: inherit;
    li {
      display: inline-block;
    }
  }
  .side-menu {
    float: right;
  }
  .login-menu > li {
    float: left;
  }
}

/*/ NavControls /*/

.nav-controls {
  height: 35px;
  li {
    margin: 0px 7px;
    vertical-align: middle;
  }
  li:hover {
    color: $hover-blue;
    cursor: pointer;
  }
}

/*/ NavPlayer /*/

#current-track {
  height: 35px;
  margin-left: 10px;
}

button {
  cursor: pointer;
  font-size: 14px;
  color: $white;
}

.player-button {
  margin: 0px 5px;
  border-radius: 2px;
  line-height: 14px;
  background-color: $button-gray;
  padding: 3px 4px 2px;
  border: 1px solid $medium-gray;
}

/*/ Side Menu /*/

#create-account {
  background-color: $primary-green;
  border: 1px solid $primary-green;
}

.profile-menu {
  background: $primary-gray;
  width: 80px;
  height: 35px;
  figure {
    display: inline-block;
    margin-left: 10px;
    img {
      border: 1px solid $medium-gray;
      max-height: 25px;
      max-width: 25px;
    }
  }
  .profile-list {
    border: 1px solid $primary-gray;
    display: none;
    position: absolute;
    top: 34px;
    li {
      background: $button-gray;
      padding-left: 10px;
      border-bottom: 1px solid $primary-gray;
      font-size: 12px;
      width: 80px;
    }
  }
}

.profile-menu:hover .profile-list {
  display: block;
}

#logout-button {
  font-size: 12px;
  margin-left: -2px;
}

/*/ Modal /*/

input {
  padding: 4px;
  border: 2px solid $medium-gray;
  border-radius: 3px;
  margin-bottom: 4px;
}

input:focus {
  box-shadow: 0 0 4px 2px #83c441;
}

.login-form {
  height: 290px;
  width: 370px;
}

.signup-form {
  height: 392px;
  width: 340px;
}

.account-form {
  height: 250px;
  width: 360px;
}

.signup-p, .acc-p {
  font-size: 12px;
}

.acc-p {
  margin-top: 10px;
}

.form-header, {
  background: #83c441;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #4D8119;
  padding-left: 10px;
  line-height: 36px;
}

label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0;
}

.login-form > input {
  margin: 10px 0;
  display: block;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.modal-button {
  border-radius: 3px;
  background: $medium-gray;
  border: 1px solid $primary-gray;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  display: block;
  margin: 5px 0;
  padding-top: 2px;
}

/* Track Index */

.content {
  position: relative;
  margin: 0 auto;
  width: 1032px;
  text-align: left;
}

.playlist {
  width: 728px;
  min-height: 400px;
  margin-right: 10px;
  float: left;
}

.playlist-title {
  font-size: 29px;
  margin: 55px 0 25px;
  display: block;
}

.playlist-title.blog {
  font-size: 29px;
  margin: 25px 0;
  display: block;
}

.playlist-menu {
  border-bottom: 1px solid #999;
  line-height: 35px;
  height: 35px;
}

.playlist-menu {
  border-bottom: 1px solid #999;
  line-height: 35px;
  height: 35px;
}

.playlist-menu a {
  display: block;
  padding: 0 10px;
}

.playlist-menu > li {
  float: left;
}

.playlist-menu > li:hover {
  text-decoration: underline;
}

.highlight {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.track-list {
  display: block;
}

.playlist-menu.alt > li {
  float: right;
}

.playlist-menu.alt > li:hover {
  text-decoration: underline;
}

.playlist-menu.alt > li:last-child {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.blog-url {
  color: #0063dc;
  font-weight: 600px;
}

/* Track Index Item */

.track {
  display: block;
  padding: 22px 0 15px 0;
  border-bottom: 1px solid #999;
  width: 728px;
}

.track-detail-container {
  float: left;
  padding: 0 120px 0 93px;
  position: relative;
}

.track-artist:hover {
  text-decoration: underline;
}

.track-image > img {
  display: block;
  border: 1px solid #555;
  max-height: 80px;
  max-width: 80px;
  position: absolute;
  left: 0;
}

.track-artist, .track-name, .track-dash {
  font-size: 20px;
  float: left;
  display: block;
}

.track-name {
  color: #555;
}

.track-dash {
  color: #ccc;
  padding: 0 5px;
}

.track-post {
  float: left;
  color: #0063dc;
  font-size: 13px;
  position: relative;
}

.track-blog-name:hover {
  text-decoration: underline;
}

.track-blog:hover {
  text-decoration: underline;
}

.track-post-count {
  padding: 5px 0;
  margin: 5px 0;
}

.track-post-info {
  color: #000;
  word-wrap: break-word;
  margin: 0 0 10px 0;
  line-height: 18px;
}

.fav-div {
  width: 80px;
  font-size: 20px;
  color: #b3b3b3;
  position: absolute;
  right: 0;
  top: 0;
}

.fav-div > p {
  margin-top: 2px;
}

.fav-div > button {
  background: transparent;
}

.fav-div > button:hover {
  color: #0063dc;
}

.play-button, .pause-button {
  background: transparent;
  color: #000;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.play-button:hover, .pause-button:hover, .fav-modal:hover {
  color: #0063dc;
}

.follow, .unfollow {
  background: transparent;
  color: #0063dc;
  font-weight: 500;
}

.follow:hover, .unfollow:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0063dc;
  border-radius: 5px;
}

.follow-text {
  color: transparent;
}

.follow:hover .follow-text, .unfollow:hover .follow-text {
  color: #fff;
}

.favorite {
  color: #b3b3b3;
}

.unfavorite {
  color: #ed2024;
}

.fav-modal {
  background: transparent;
  color: #b3b3b3;
}

.favorite, .unfavorite, .fav-modal {
  position: absolute;
  top: 0;
  right: 35px;
}

/*/ Profile /*/

.profile-header {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  width: 728px;
  height: 100px;
  margin-top: 50px;
}

.profile-image > img {
  border: 1px solid #555;
  max-height: 100px;
  max-width: 100px;
  float: left;
  margin-right: 10px;
}

.profile-image.blog > img {
  border: 1px solid #555;
  max-height: 200px;
  max-width: 250px;
  float: left;
  margin-right: 10px;
}

.profile-header > h1 {
  color: #222;
  font-size: 20px;
  font-weight: 700px;
}

.profile-header > h2 {
  color: #222;
  font-size: 16px;
  font-weight: 500px;
}

.profile-header > li {
  font-size: 20px;
}

.loader {
  display: block;
  width: 20px;
  height: 20px;
}

// *Blog //
.blog-menu > li {
  display: block;
  border: 1px solid #222;
  width: 80px;
  height: 60px;
  margin: 0 5px 0 0;
  text-align: center;
  float: left;
  font-weight: 600;
  font-size: 24px;
}

.blog-text {
  font-size: 12px;
  font-weight: normal;
}

.twitter {
  max-width: 25px;
  max-height: 25px;
}

.modal-links {
  float: left;
  margin: 0 0 5px;
}

// .profile-menu > li {
//   display: block;
//   border: 1px solid #222;
//   width: 80px;
//   height: 60px;
//   margin: 0 5px 0 0;
//   text-align: center;
//   float: right;
//   font-weight: 600;
//   font-size: 24px;
// }

// wavesurfer

.wave {
  width: 550px;
  height: 50px;
  margin-left: 45px;
}

.wave > wave {
  margin-top: 10px;
  height: 70px !important;
}

.wave > wave > canvas, .wave > wave > wave {
  top: -30px !important;
}

.show {
  width: 550px;
  height: 50px;
  margin-top: 150px;
}

.show > wave {
  height: 50px !important;
}

wave {
  cursor: pointer;
}
