html, body, div, header, nav, a, h1, h2,
ul, li, main, section, img, p, form, fieldset,
label, input, textarea, button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  background: #fff;
  color: #222;
}

ul {
  list-style: none;
}

input, textarea, button {
  padding: 4px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background: #3d3c3a;
  color: #e0e0e0;
  float: right;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* Header */

.header {
  background: #83c441;
  height: 42px;
  line-height: 42px;
}

.header a {
  display: block;
}

.header-nav {
  margin: 0 auto;
  width: 1032px;
}

.header-logo {
  padding-right: 10px;
  float: left;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

.header-logo:hover {
  color: #fff;
}

.header-nav-list {
  float: left;
}

.header-nav-list > li {
  float: left;
  padding: 0 10px;
}

.header-nav-list > li:hover {
  background: #222;
  color: #e0e0e0;
}

/* Track Index */
.content {
  position: relative;
  margin: 0 auto;
  width: 1032px;
  text-align: left;
}

.playlist {
  width: 728px;
  min-height: 400px;
  margin-right: 10px;
  float: left;
}

.playlist-title {
  font-size: 29px;
  margin: 25px 0;
  display: block;
}

.playlist-menu {
  border-bottom: 1px solid #999;
  line-height: 35px;
  height: 35px;
}

.playlist-menu a {
  display: block;
  padding: 0 10px;
}

.playlist-menu > li {
  float: left;
}

.playlist-menu > li:hover {
  text-decoration: underline;
}

.playlist-menu > li:first-child {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.track-list {
}

/* Track Index Item */

.track {
  display: block;
  padding: 22px 0 15px 0;
  border-bottom: 1px solid #999;
}

.track-detail-container {
  float: left;
  padding: 0 120px 0 93px;
}

.track-detail-container > div:hover {
  text-decoration: underline;
}

.track-artist, .track-name, .track-dash {
  font-size: 20px;
  float: left;
  display: block;
}

.track-name {
  color: #555555;
}

.track-dash {
  color: #ccc;
  padding: 0 5px;
}

.track-blog {
  float: left;
  color: #0063dc;
  font-size: 13px;
}

.track-blog > div:hover {
  text-decoration: underline;
}

.track-blog-count {
  padding: 5px 0;
  margin: 5px 0;
}

.track-blog-description {
  color: #000;
  word-wrap: break-word;
  margin: 0 0 10px 0;
  line-height: 18px;
}
